.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.font-weight-bold{
    font-weight: bold;
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
.text-decoration{
    text-decoration:overline ;
}
.text-font {
    font-family: Gill Sans, sans-serif;
}
.